$vue-color = #1963a2
$accentColor = #1963a2
$bg-color = #1b1f21
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
$nav-bg-color = #191D1F
$border-color = #000
$sidebar-bg-color = #1E2224

body
  background-color $bg-color
  color desaturate(lighten($bg-color, 90%), 50%)

.search-box
  input
    border-color $border-color
    border-radius 0px
    background-color $bg-color
    color desaturate(lighten($bg-color, 90%), 50%)
  .suggestions
    background-color desaturate(lighten($bg-color, 15%), 10%)
    border 0
  .suggestion
    a
      color desaturate(lighten($bg-color, 90%), 50%)

    &.focused
      background-color desaturate(lighten($bg-color, 30%), 30%)
      a
        color #fff

.algolia-search-wrapper
  .algolia-autocomplete
    .ds-dropdown-menu
      border: 0
      background-color desaturate(lighten($bg-color, 15%), 10%)

      &:before
        background-color desaturate(lighten($bg-color, 15%), 10%)
        border: 0;

@media (min-width: $MQMobile)
  .dropdown-wrapper
    .nav-dropdown
      background-color desaturate(lighten($bg-color, 15%), 10%)
      border 0

      .dropdown-item
        h4
          border-top-color desaturate(lighten($bg-color, 30%), 30%)

.sw-update-popup
  background-color desaturate(lighten($bg-color, 15%), 10%)
  border 0

.navbar
  border-bottom-color $border-color
  background-color $nav-bg-color

  .site-name
    color #fff

  .links
    background-color $nav-bg-color

.page-edit
  .edit-link
    a
      color desaturate(lighten($bg-color, 50%), 50%)

      &:hover,
      &:focus
        color #fff
  .last-updated
    .prefix
      color desaturate(lighten($bg-color, 50%), 50%)
    
    .time
      color desaturate(lighten($bg-color, 40%), 50%)

h2
  border-bottom-color desaturate(lighten($bg-color, 10%), 10%)

hr
  border-top-color desaturate(lighten($bg-color, 10%), 10%)

.page-nav
  .inner
    color desaturate(lighten($bg-color, 50%), 50%)
    border-top-color desaturate(lighten($bg-color, 10%), 10%)

.sidebar
  background-color $sidebar-bg-color
  border-right-color $border-color

  .nav-links
    border-bottom-color desaturate(lighten($bg-color, 10%), 10%)

  a.sidebar-link
    color desaturate(lighten($bg-color, 90%), 50%)

    &:hover,
    &:focus,
    &.active
      color #fff

  .sidebar-heading
    color desaturate(lighten($bg-color, 90%), 50%)

    &.open,
    &:hover
      color #fff

.nav-links
  a
    color desaturate(lighten($bg-color, 90%), 50%)

    &:hover,
    &:focus,
    &.router-link-active
      color #fff

.home
  .hero
    .description
      color desaturate(lighten($bg-color, 50%), 50%)
    .action-button
      border 0
  .features,
  .footer
    border-top-color desaturate(lighten($bg-color, 10%), 10%)
  .feature
    h2
      color desaturate(lighten($bg-color, 70%), 40%)
    p
      color desaturate(lighten($bg-color, 50%), 50%)
  .footer
    color desaturate(lighten($bg-color, 50%), 50%)
  
