.theme-toggle {
	align-items: center;
	background-color: var(--theme-bg);
	border-radius: 99em;
	display: inline-flex;
	gap: 0.5em;
	height: 2em;
	padding: 0.25em 0.75em;
}

.theme-toggle > label {
	align-items: center;
	border-radius: 2.75em;
	color: var(--theme-code-inline-text);
	display: flex;
	filter: brightness(75%);
	height: 1.375em;
	justify-content: center;
	opacity: 0.5;
	position: relative;
	transition-duration: 0.25s;
	transition-property: color, filter, opacity;
	transition-timing-function: ease-in-out;
	width: 1.375em;
}

.theme-toggle > label:hover {
	filter: brightness(125%);
	opacity: 1;
}

.theme-dark .theme-toggle > label:hover {
	filter: brightness(300%);
}

.theme-toggle .checked {
	color: var(--theme-accent);
	opacity: 1;
}

.theme-dark .theme-toggle .checked {
	filter: brightness(200%);
}

input[name='theme-toggle'] {
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

svg {
	fill: currentColor;
	height: 1.375em;
	width: 1.375em;
}

label:hover svg {
	cursor: pointer;
}
