---
import type { MarkdownHeading } from 'astro';
import type { KnownLanguageCode } from '../../i18n';

import TableOfContents from './TableOfContents';
import MoreMenu from './MoreMenu.astro';
import { SITE } from '../../site';

type Props = {
	editUrl: URL;
	headings: MarkdownHeading[];
	langCode: KnownLanguageCode;
};

const { editUrl, headings, langCode } = Astro.props;
---

<aside id="toc" class="toc" title="Table of Contents">
	<nav class="sidebar-nav" aria-labelledby="toc">
		{
			headings.length > 0 && (
				<TableOfContents
					client:media="(min-width: 50em)"
					headings={headings}
					onThisPage={SITE[langCode].general.OnThisPage}
				/>
			)
		}
		<MoreMenu editUrl={editUrl} langCode={langCode} />
	</nav>
</aside>

<style>
	.toc {
		display: flex;
		grid-area: toc;
		height: fit-content;
		max-height: calc(100vh - var(--theme-navbar-height));
		padding: var(--doc-padding) var(--gutter);
		position: sticky;
		top: var(--theme-navbar-height);
		width: fit-content;
	}

	.sidebar-nav {
		display: flex;
		flex-direction: column;
	}

	@media (max-width: 1080px) {
		aside.toc {
			display: none;
		}
	}
</style>
