---
import HeadCommon from "../components/HeadCommon.astro";
import { SITE } from "../site";

const site = SITE[SITE.defaultLanguage];
---

<html class="initial">
	<head>
		<HeadCommon />
		<title>{site.title}</title>
	</head>

	<body>
		<script is:inline>
			// Redirect your homepage to the first page of documentation.
			// If you have a landing page, remove this script and add it here!
			window.location.pathname = `/en-US/`;
		</script>
	</body>
</html>
