---
---

<div class="search-container">
	<input
		aria-label="Search"
		autocomplete="off"
		onfocus={}
		placeholder=""
		spellcheck="false"
		type="text"
		value=""
	/>
	<svg>
		<path
			d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"></path>
	</svg>
</div>

<style>
	.search-container {
		align-items: center;
		display: flex;
		justify-content: end;
	}

	.search-container svg {
		fill: none;
		pointer-events: none;
		position: absolute;
		right: 1em;
	}

	.search-container input {
		background-color: var(--theme-bg);
		border: calc(max(0.125vmin, 1px)) solid var(--theme-text-lighter);
		border-radius: 2em;
		cursor: text;
		line-height: 2em;
		outline: none;
		padding: 0 2em;
		transition-duration: 0.5s;
		transition-property: border-color, width;
		transition-timing-function: ease-in-out;
		width: 1rem;
	}

	.search-container input:focus {
		border-color: var(--theme-text-light);
		width: 100%;
	}
</style>
